default:
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - Behat\MinkExtension\Context\MinkContext
        - Behat\MinkExtension\Tests\FeatureContext
  extensions:
    Behat\MinkExtension:
      base_url: http://localhost:8082
      sessions:
        default:
          goutte: ~
